In [9]:
import urllib.request as urllib2
from bs4 import BeautifulSoup

In [10]:
wiki = "https://en.wikipedia.org/wiki/List_of_cities_in_India_by_area"

In [11]:
page = urllib2.urlopen(wiki)

In [12]:
soup = BeautifulSoup(page)

C:\Users\Praneeth Tamvada\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\Praneeth Tamvada\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [13]:
right_table=soup.find('table', class_='wikitable sortable')
right_table

<table class="wikitable sortable">
<caption>
</caption>
<tbody><tr>
<th>City</th>
<th>State / <abbr title="Union Territory">UT</abbr></th>
<th>Area (km<sup>2</sup>)</th>
<th><abbr title="Reference">Ref</abbr>
</th></tr>
<tr>
<td><a href="/wiki/Delhi" title="Delhi">Delhi</a></td>
<td><a href="/wiki/Delhi" title="Delhi">Delhi</a></td>
<td>1,484</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Bangalore" title="Bangalore">Bangalore</a></td>
<td><a href="/wiki/Karnataka" title="Karnataka">Karnataka</a></td>
<td>709</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Hyderabad" title="Hyderabad">Hyderabad</a></td>
<td><a href="/wiki/Telangana" title="Telangana">Telangana</a></td>
<td>650</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Mumbai" title="Mumbai">Mumbai</a></td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td>603.4</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Jaipur" title="Jaipur">Jaipur</a></td>
<td><a href="/wiki/Rajasthan" title="Rajasthan">Rajasthan</a></td>
<td>484</td>
<td>
</td></tr>
<tr>
<td><a class="mw-redirect" href="/wiki/Ahemdabad" title="Ahemdabad">Ahemdabad</a></td>
<td><a href="/wiki/Gujarat" title="Gujarat">Gujrat</a></td>
<td>464</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Chennai" title="Chennai">Chennai</a></td>
<td><a href="/wiki/Tamil_Nadu" title="Tamil Nadu">Tamil Nadu</a></td>
<td>426</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Kanpur" title="Kanpur">Kanpur</a></td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td>403.7</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Lucknow" title="Lucknow">Lucknow</a></td>
<td><a href="/wiki/Uttar_Pradesh" title="Uttar Pradesh">Uttar Pradesh</a></td>
<td>349</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Pune" title="Pune">Pune</a></td>
<td><a href="/wiki/Maharashtra" title="Maharashtra">Maharashtra</a></td>
<td>331.26</td>
<td><sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup><sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>
</td></tr>
<tr>
<td><a href="/wiki/Surat" title="Surat">Surat</a></td>
<td><a href="/wiki/Gujarat" title="Gujarat">Gujrat</a></td>
<td>326.5</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Kolkata" title="Kolkata">Kolkata</a></td>
<td><a href="/wiki/West_Bengal" title="West Bengal">West Bengal</a></td>
<td>
<p>205
</p>
</td>
<td>
</td></tr></tbody></table>

In [14]:
A=[]
B=[]
C=[]

for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    #states=row.findAll('th') #To store second column data
    if len(cells)==4: #Only extract table body not heading
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [19]:
C

['1,484',
 '709',
 '650',
 '603.4',
 '484',
 '464',
 '426',
 '403.7',
 '349',
 '331.26',
 '326.5',
 '\n']

In [18]:
import pandas as pd
cities_in_India =pd.DataFrame(A,columns=['City'])
cities_in_India['State']=B
cities_in_India['Area']=C
cities_in_India

         City          State    Area
0       Delhi          Delhi   1,484
1   Bangalore      Karnataka     709
2   Hyderabad      Telangana     650
3      Mumbai    Maharashtra   603.4
4      Jaipur      Rajasthan     484
5   Ahemdabad         Gujrat     464
6     Chennai     Tamil Nadu     426
7      Kanpur  Uttar Pradesh   403.7
8     Lucknow  Uttar Pradesh     349
9        Pune    Maharashtra  331.26
10      Surat         Gujrat   326.5
11    Kolkata    West Bengal